# Top EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Space based indentation everywhere except for makefiles
[*]
indent_style = space
indent_size = 4
[makefile]
indent_style = tab

# Use utf-8 everywhere
[*]
charset = utf-8
